<!-- <!DOCTYPE html>
<html>
<head>
    <title>Get Password</title>
</head>
<body>
    <h1>Get Password</h1>
    <form method="POST">
        <label for="website">Website:</label>
        <input type="text" name="website" id="website"><br><br>
        <input type="submit" value="Get Password">
    </form>
    {% if username %}
        <p>Username: {{ username }}</p>
        <p>Password: {{ password }}</p>
    {% endif %}
</body>
</html> -->


<!DOCTYPE html>
<html>

<head>
    <title>Get Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.footer.segment {
            margin-top: 50em;
            padding: 5em;
        }
    </style>
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <!-- <img class="logo" src="{{ url_for('static', filename='img/AIMSLab_Logo.png') }}"> -->
                <i class="chess knight icon"></i>
                Poco Polo
            </a>
            <a href="{{ url_for('index') }}" class="item">Home</a>
        </div>
    </div>
    <div class="ui main text container">
        <h1 class="ui header">Get Password</h1>
        <form class="ui form" method="POST">
            <div class="field">
                <label for="website">Website:</label>
                <input type="text" name="website" id="website">
            </div>
            <button class="ui button" type="submit">Get Password</button>
        </form>
        {% if username %}
        <div class="ui segment">
            <p>Username: {{ username }}</p>
            <p>Password: {{ password }}</p>
        </div>
        {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>

</html>