<!-- <!DOCTYPE html>
<html>
<head>
    <title>Password Manager</title>
</head>
<body>
    <h1>Password Manager</h1>
    <p><a href="/add_password">Add a password</a></p>
    <p><a href="/get_password">Get a password</a></p>
</body>
</html> -->

<!DOCTYPE html>
<html>

<head>
    <title>Password Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style type="text/css">
        body {
            background-color: #FFFFFF;
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }

        .wireframe {
            margin-top: 2em;
        }

        .ui.footer.segment {
            margin-top: 50em;
            padding: 5em;
        }
    </style>
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <!-- <img class="logo" src="{{ url_for('static', filename='img/AIMSLab_Logo.png') }}"> -->
                <i class="chess knight icon"></i>
                Poco Polo
            </a>
            <a href="#" class="item">Home</a>
        </div>
    </div>

    <div class="ui main text container">
        <h1 class="ui header">Password Manager</h1>
        <div class="ui relaxed divided list">
            <div class="item">
                <a class="ui button" href="/add_password">Add a password</a>
            </div>
            <div class="item">
                <a class="ui button" href="/get_password">Get a password</a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>

</html>